.statsContainer {
  display: flex;
  justify-content: space-around;

  height: 70px;
  width: 100%;
  background-color: blanchedalmond;
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: calc(100% / 3);

  border: 1px solid burlywood;
}
